header {
    padding: 1.25rem 2rem;
    color: aliceblue;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header,
header h1 {
    background-color: #f5ba13;
    font-weight: 700;
}