.noteCard {
    margin: 1.5rem 2rem;
    padding: 1rem;
    width: 240px;
    height: fit-content;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}

.noteCard h2, 
.noteCard p {
    font-size: 1.1rem;
    background-color: inherit;
}

.noteCard h2 {
    font-weight: 700;
    font-style: oblique;
}

.noteCard p {
    padding-top: 0.5rem;
    font-weight: 400;
}
