body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
}

.poster {
    width: 60%;
    margin: 5% 20% 0% 20%;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}